@page "/"


<style>
    
    .imagebk {
        background-image: url("../../images/P1.jpg");
       }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>AuthenUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="imagebk" >

<div class="container text-center "  > @*style="border-style: solid;"*@
    <img src="../../images/P4.png" style="width: 200px;" />
    <h2>โรงพยาบาลสมุทรสาคร</h2>
    <h3>Samut Sakon Hospital</h3>
</div>
  <br />
  <br />
<div class="container">
  <div class="row">
    <div class="col-sm-8" style="border-style: solid;">
      <div class="col-sm-2" >
        <p><b>วันที่รับบริการ</b></p>
      </div>
      <div class="col-sm-4">
        <input type="email" class="form-control" >
      </div>
      <div class="col-sm-5">
        <div class="col-sm-2"><p><b>เวลา</b></p></div>
        <div class="col-sm-5"><input type="email" class="form-control" style="width: 100px;"></div>
        <div class="col-sm-2"><p><b>น.</b></p></div>
      </div>
    </div>
    <div class="col-sm-4">
      @* <h3>Column 3</h3>         *@
      <input type="email" class="form-control">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      @* <h3>Column 1</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="col-sm-4">
      @* <h3>Column 2</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="col-sm-4">
      @* <h3>Column 3</h3>         *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      @* <h3>Column 1</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="col-sm-4">
      @* <h3>Column 2</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8 ">
      @* <h3>Column 1</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6">
      @* <h3>Column 1</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="col-sm-6">
      @* <h3>Column 2</h3> *@
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12 text-center ">
      @* <h3>Column 1</h3> *@
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

</body>
</html>


@code {
    private DateOnly date1 = DateOnly.FromDateTime(DateTime.Now.AddDays(1));
}